@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

html,
body {
	height: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: #f2f2f0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
	background-color: #f2f2f0;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.footer {
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: #252525;
}

.push {
	height: 100px;
}

/* Utilidades */
.pos-relative {
	position: relative;
}

.bg-white {
	background-color: #f2f2f0;
}

.height-100 {
	height: 100%;
}

.bg-dark-alpha {
	background-color: rgba(0, 0, 0, 0.2);
}

.bg-light-alpha {
	background-color: rgba(255, 255, 255, 0.2);
}

.bg-blue {
	background-color: #1c819e;
}

.separator {
	border: 1px solid #1c819e;
	margin-bottom: 15px;
}

.button-blue {
	background-color: #1c819e;
	color: #f2f2f0;
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	transition: all 0.3s ease-in-out;
}

.button-blue:hover {
	color: #f2f2f0;
	background-color: #145b6e;
	transition: all 0.3s ease-in-out;
}

.button-white {
	background-color: #f2f2f0;
	color: #1c819e;
	border: none;
	border-radius: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.button-white:hover {
	color: #1c819e;
	background-color: #d6d6d6;
	transition: all 0.3s ease-in-out;
}

.button-red {
	background-color: #C91D1D;
	color: #f2f2f0;
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	transition: all 0.3s ease-in-out;
}

.button-red:hover{
	color: #f2f2f0;
	background-color: #af1a1a;
	transition: all 0.3s ease-in-out;
}

.button-black {
	background-color: #252525;
	color: #f2f2f0;
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	transition: all 0.3s ease-in-out;
}

.button-black:hover{
	color: #f2f2f0;
	background-color: #0f0f0f;
	transition: all 0.3s ease-in-out;
}

.link-button{
	text-decoration: none;
	font-weight: bold;
	color: #252525;
	transition: all .3s ease-in-out;
}

.link-button:hover{
	color: #1c819e;
	transition: all .3s ease-in-out;
}

/* LogIn y Fomrmularios */

.login-form {
	max-width: 500px;
	border: 2px solid #252525;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #f2f2f0;
}

.login-form .logo {
	margin-bottom: 30px;
}

.form-input {
	border: none;
	width: 100%;
	border-bottom: 1px solid #252525;
	border-radius: 0;
	margin: 15px 0;
	box-shadow: none !important;
}

.form-input:focus {
	outline: none;
	border: 0;
	border-bottom: 1px solid #1c819e;
}

.form-textarea {
	resize: none;
	margin-top: 1rem;
	border: 1px solid #252525;
	border-radius: 0;
	box-shadow: none !important;
	height: 10rem;
}

.form-textarea:focus {
	border: 1px solid #1c819e;
}

/* Nav y Logo */
.logo a > img,
.logo > img {
	width: 100%;
	max-width: 30vw;
	min-width: 250px;
}

nav .logo img {
	max-width: 15vw;
	min-width: 150px;
}

.nav-link {
	color: #252525;
}
.nav-link:hover {
	color: #1c819e;
}

nav .menu {
	font-weight: bold;
	color: #252525;
}

nav .menu:hover {
	color: #1c819e;
}

.sidenav {
	height: 50%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 10; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #f2f2f0; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.3s ease-in-out; /* 0.5 second transition effect to slide in the sidenav */
	border: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-height: 640px) {
	.sidenav {
		height: 75%;
	}
}

.sidenav .closebtn {
	position: absolute;
	top: -5px;
	right: 25px;
	font-size: 3rem;
	margin-left: 50px;
	text-decoration: none;
	color: #252525;
}

.sidenav .closebtn:hover {
	color: #1c819e;
	transition: all 0.3s ease-in-out;
}

#menu-text {
	position: absolute;
	top: 15px;
	left: 25px;
	font-size: 1.5rem;
	font-weight: bolder;
	color: #252525;
}

.menu-button {
	background-color: #f2f2f0;
	padding: 1rem;
	transition: all 0.3s ease-in-out;
}

.menu-button a {
	text-decoration: none;
	color: #252525;
	transition: all 0.3s ease-in-out;
}

.menu-button:hover {
	transform: translateX(1rem);
	background-color: #1c819e;
	transition: all 0.3s ease-in-out;
}

.menu-button:hover a {
	color: #f2f2f0;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.buttons {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-evenly;
}

.buttons > div > a {
	padding: 1rem;
}

/* Registro */
#info-icon {
	color: #252525;
	border: none;
	outline: none;
	transition: all 0.1s ease-in-out;
}

#info-icon:hover {
	color: #1c819e;
	transition: all 0.1s ease-in-out;
}

#passwordInput {
	margin-bottom: 0;
}

.displayBadge {
	width: 100%;
	color: #f2f2f0;
	padding-top: 7px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.pass-text {
	font-size: 0.75rem;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s ease-in-out both;
	animation: slide-in-top 0.5s ease-in-out both;
}

@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-150px);
		transform: translateY(-150px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-150px);
		transform: translateY(-150px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

/* jobOfferList */

.jobOffer-card {
	border: 1px solid #ccc;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	margin-top: 10px;
	padding-bottom: 10px;
}

.jobOffer-card h2 {
	color: #1c819e;
	font-weight: bold;
	font-size: 2.5rem;
}

@media (max-width: 767.98px) {
	.width-100 {
		width: 100%;
	}
}

.jobOffer-info {
	margin-left: 10px;
}

.jobOffer-tags > div {
	color: #252525;
	font-weight: 500;
	margin: 0;
}

.jobOffer-tags > div a {
	color: #252525;
	text-decoration: none;
	font-weight: 600;
}

.jobOffer-tags > div a:hover {
	color: #1c819e;
}

.jobOffer-description {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media (max-width: 575.98px) {
	h2,
	.jobOffer-tags > div {
		text-align: center;
	}
}

/* JobOffer post */

.jobOffer-title{
	color: #1c819e;
	font-weight: bolder;
}

.file-input {
	display: none;
}

.fa-check-circle{
	font-size: 1.5rem;
	color: #73BD28;
	-webkit-text-stroke:1px #64a524;
}

/* Perfil alumno */
.img-profile {
	max-width: 15vw;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 767.98px) {
	.img-profile {
		visibility: hidden;
		display: none;
	}
}

.name {
	color: #f2f2f0;
	font-weight: bold;
	font-size: 4rem;
}

.student-university-data {
	color: #f2f2f0;
	font-weight: 300;
	font-size: 1.5rem;
}

.info-title {
	font-size: 1.5rem;
	font-weight: 300;
}

/* Perfil empresa */
.company-description{
	color: #252525;
	font-weight: 300;
	font-size: 1rem;
}

.company-address{
	color: #f2f2f0;
	font-weight: 300;
	font-size: 1.5rem;
}

.company-data{
	color: #f2f2f0;
	font-weight: 300;
	font-size: 1rem;
}

#mapid {    
	width: 100%; 
	height: 450px;
	z-index: 1;
	outline: none;
}
